---
interface Props {
  imgSrc: string;
  title: string;
  links: {
    text: string;
    url: string;
  }[];
  description: string[];
}

const { imgSrc, title, links, description }: Props = Astro.props;
---

<style lang="scss">
  .download-content {
    display: flex;
    margin-bottom: 2rem;
  }

  img {
    margin-right: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px var(--shadow-color);

    @media screen and (max-width: 840px) {
      max-height: 128px;
      margin-right: 1rem;
    }

    @media (prefers-color-scheme: dark) {
        filter: brightness(90%);
      }
  }

  .title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25rem;
  }

  .link {
    padding: 6px 12px;
    margin-right: 0.5rem;
    color: var(--text-color-link);
    text-decoration: none;
    border: 1px solid var(--text-color-link);
    border-radius: 25px;
    margin-bottom: 0.25rem;
    letter-spacing: 0px;
  }

  .link:hover {
    color: white;
    background: var(--text-color-link);
  }

  .information {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 840px) {
      justify-content: flex-start;
    }
  }

  .description {
    height: 54px;
    font-size: var(--text-small);

    @media screen and (max-width: 840px) {
      height: auto;
    }
  }
</style>

<section class="download-content">
  <img loading="lazy" src={imgSrc} alt="" width="96" height="128" decoding="async" />
  <section class="information">
    <p class="title">{title}</p>
    <div class="links">
      {
        links.map((item) => (
          <a href={item.url} class="link" target="_blank" rel="noopener noreferrer">
            {item.text}
          </a>
        ))
      }
    </div>
    <p class="description">
      {
        description.map((item) => (
          <span>
            {item}
            <br />
          </span>
        ))
      }
    </p>
  </section>
</section>
